<h1>{{tour.name}}</h1>

<div class="photos">
  <mat-carousel hideArrows color="primary" proportion="30">
    <mat-carousel-slide *ngFor="let photoLink of tour.photoLinks"
                        image="{{photoLink}}">
    </mat-carousel-slide>
  </mat-carousel>
</div>

<div style="padding-top: 10px"><b>Price:&nbsp;</b> {{tour.price}} PLN</div>
<div style="padding-top: 10px"><b>Description:&nbsp;</b> {{tour.description}}</div>
<div style="padding-top: 10px"><b>Dates:&nbsp;</b></div>

<mat-grid-list style="padding-top: 10px" cols="5" rowHeight="50px">
  <mat-grid-tile><b>Start</b></mat-grid-tile>
  <mat-grid-tile><b>End</b></mat-grid-tile>
  <mat-grid-tile><b>Max</b></mat-grid-tile>
  <mat-grid-tile><b>Available</b></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

  <div *ngFor="let term of tour.terms">
    <mat-grid-tile>{{term.startDate.seconds * 1000 | date}}</mat-grid-tile>
    <mat-grid-tile>{{term.endDate.seconds * 1000 | date}}</mat-grid-tile>
    <mat-grid-tile>{{term.maxAmount}}</mat-grid-tile>
    <mat-grid-tile>{{getAvailableTermAmount(term)}}</mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="isReservationAvailable(term);">
        <button mat-stroked-button (click)="book(term)">Book</button>
      </div>
      <div *ngIf="!isReservationAvailable(term);">
        <button mat-stroked-button disabled>Book</button>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<app-rates [rates]="tour.rates" (rateAddedEmitter)="onRateAdded($event)"></app-rates>

<div style="padding-top: 30px">
  <button (click)="removeTour()" routerLink="/tours">
    <mat-icon>delete</mat-icon>
  </button>
</div>
