<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/tours">Tours</a>
      <a mat-list-item routerLink="/cart">Cart</a>
      <a mat-list-item routerLink="/new-tour">New tour</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Travel agency</span>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <mat-icon style="padding: 10px">shopping_cart</mat-icon>
      <mat-icon *ngIf="authService.user == null" style="padding: 10px" routerLink="/login">account_circle</mat-icon>
      <mat-icon *ngIf="authService.user != null" style="padding: 10px" routerLink="/login" (click)="authService.logout()">exit_to_app</mat-icon>
    </mat-toolbar>

<!--    <app-address-form></app-address-form>-->
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
